# IDE related paths
/.vscode

# Dependency directories
/bower_components/
/node_modules/
/typings/
/.bowerrc
/.npmrc
/package-lock.json

# Log files
/npm-debug.log

# Build files
/dist/
/docs/
/release/
/test/
/utils/
/object-management.*
